<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h4>Account</h4>
      <ul>
        <li><a href="/sign-up">Register</a></li>
        <li><a href="/log-in">Sign in</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">CLOSIO List</a></li>
        <li><a href="#">Sign up for text</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Assistance</h4>
      <ul>
        <li><a href="#">Customer care</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Size charts</a></li>
        <li><a href="#">Store locator</a></li>
        <li><a href="#">CLOSIO services</a></li>
        <li><a href="#">Apple Pay</a></li>
        <li><a href="#">Klarna</a></li>
        <li><a href="#">Gift cards</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Company</h4>
      <ul>
        <li><a href="#">CLOSIO Magazine</a></li>
        <li><a href="#">CLOSIO Models</a></li>
        <li><a href="#">CLOSIO family</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Sustainability</a></li>
        <li><a href="#">About CLOSIO List</a></li>
        <li><a href="#">CLOSIO 81 app</a></li>
        <li><a href="#">Investor relations</a></li>
        <li><a href="#">CLOSIO Foundation</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Brands</h4>
      <ul>
        <li><a href="#">MARCIANO</a></li>
        <li><a href="#">CLOSIO Jeans</a></li>
        <li><a href="#">CLOSIO Originals</a></li>
        <li><a href="#">CLOSIO Kids</a></li>
        <li><a href="#">World of CLOSIO</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© Dish Dudhat, dhdudhat@myseneca.ca, WEB322 Winter 2025 <a href="#">Terms & Conditions</a> <a href="#">Privacy Policy</a></p>
    <div class="social-icons">
      <a href="#">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="#">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a href="#">
        <ion-icon name="logo-tiktok"></ion-icon>
      </a>
      <a href="#">
        <ion-icon name="logo-youtube"></ion-icon>
      </a>
      <a href="#">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
    </div>
  </div>
</footer>