<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2>Load Data Results</h2>
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        <%= message %>
                    </div>
                    <a href="/inventory/list" class="btn btn-primary">Return to Products List</a>
                </div>
            </div>
        </div>
    </div>
</div> 