<%- include("../partials/header", { user: user }) %>
<div class="container mt-5">
  <h1>Load Data</h1>
  <p><%= message %></p>
  <a class="btn btn-primary" href="/inventory/list">Back to Product List</a>
</div>
<%- include("../partials/footer") %>
